<%- model_class = Book -%>
<div class="page-header">
  <h1 class="span11"><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
  <div class="span1" style="font-size: 18px">
    <a href="<%= books_path(view: 'list') %>">
      <i class="icon-th-list"></i>
    </a>
    &nbsp;
    <a href="<%= books_path(view: 'lib') %>">
      <i class="icon-th"></i>
    </a>
  </div>
</div>
<% if session[:book_view] == 'lib' %>
  <%= render :partial => 'books/library_view' %>
<% else %>
  <%= render :partial => 'books/table_view' %>
<% end %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_book_path,
            :class => 'btn btn-primary' %>
